# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable JsFormat': 'jsformat:format'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'JsFormat'
      'submenu': [
        { 'label': 'Format Javascript', 'command': 'jsformat:format' }
      ]
    ]
  }
]
